@charset "UTF-8";
/*===reset-star===*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, tr, td, section, a, input, span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
    -webkit-text-size-adjust: none;
}

html, body {
    /*-webkit-user-select: none; !*禁止选中*!*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif, "microsoft yahei";
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

caption, th, td, tr th {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before, q:after {
    content: '';
}

input[type=button], button {
    -webkit-appearance: none;
    -webkit-user-select: none;
}

a, img, input, select, li {
    -webkit-tap-highlight-color: transparent;
}

a, img {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

a, input, img, select {
    outline: none;
}

input {
    border: none;
}

input::-webkit-clear-button, input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input::-webkit-search-cancel-button {
    display: none;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

::-webkit-scrollbar {
    display: none;
}

img {
    -webkit-touch-callou: none;
    width: 100%;
}

* {
    -webkit-tap-highlight-color: transparent;
}

/*===reset-end===*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    *zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.show {
    display: block;
}

.hide, .none {
    display: none;
}
